@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

/* shared style */

p{
    word-wrap: break-word;
}
body{
    margin: 0;
    background-color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
main{
    margin: 0;
}
.main-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

.dis-flex{
    display: flex;
}
.color-1{
    color: white;
}
.color-2{
    color: rgba(255, 255, 255, 0.5);
}
.prime-btn{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 25px;
    width: 170px;
    height: 40px;
    border: none;
    color: white;
}
.font-sty{
    color: white;
    font-weight: 800;
    font-size: 2.2rem;
}
.font-sty-main{
    color: rgba(255, 255, 255, 0.5);
    font-size:0.8rem;
    line-height: 20px;
}

/* shared style close */

.head-bg-color{
    height: 630px;
    margin-left: 150px;
    background-image:url('images/Images\ 2.png');
    background-size: 330px 550px;
    background-repeat: no-repeat;
    background-position-x: 600px;
    background-position-y: bottom;
    
}
.header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(255, 255, 255, 0.15)30%,rgba(177, 177, 177, 0.15) 80%,rgba(119, 119, 119, 0) 100%);
}
.nav-home{
    background-color:rgba(230, 83, 60, 1) ;
    padding: 9px 20px;
    border-radius: 25px;
}
.nav h1{
    font-size: 30px;
}
.menu{
    display: none;
}
.nav-li{
    list-style: none;
    gap: 40px;
    height: 0px;
    padding: 5px 10px 5px 5px;
    justify-content: center;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    color: white;
}
.nav{
    justify-content: space-between;
    align-items: center;
    margin-right: 9.37rem;
}
.frame{
    border: 1px solid rgba(255, 255, 255, 0.1) ;
    border-radius: 25px;
}
.fit{
    font-weight: 900;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
}
.title{
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 28px;
}
.shape{
    font-size: 8.9rem;
    font-weight: 500;
    font-family: 'Miama', sans-serif;
    line-height: 0%;
}
.discr{
    margin-right: 600px;
    line-height: 22px;
}
.down-btn{
    border: 1px solid white;
    background-color: black;
}
 .header button{
    margin-top: 20px;
    margin-right: 20px;
 }
.f500{
    position: relative;
    left: 820px;
    bottom: 360px;
    width: 11.25rem;
    height: 3.75rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 0px;
    padding-right: 5px;
    padding-left: 15px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.v350{
    position: relative;
    left: 500px;
    bottom: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 60px;
    background-color: rgba(94, 94, 94, 0.452);
    padding: 20px 15px 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
}
.span500{
    line-height: 80%;
}
.span350{
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 100%;
}
.play{
    width: 60px;
    height: 60px;
}
.change-habit{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 150px;
    text-align: center;
}
.change-habit-item{
    margin-top: 55px;
    display: flex;
    gap: 35px;
}
.change-habit-img>img{
    height:150px ;
    width: 150px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.1);
}
.change-habit-img{
    text-align: center;
}
.change-habit-img>h5{
    margin-bottom: 0;
}
.change-habit>h1{
    margin-bottom: 5px;
}
.run-extra{
    margin: 80px 150px;
    background-color:rgba(34, 34, 34, 1) ;
    border-radius: 15px;
}
.run-extra p{
    margin-bottom: 1.2rem;
}
.run-extra h1{
    margin: 0;
}
.run-extra>div{
    display: flex;
    /* padding: 25px 30px; */
    gap: 120px;
}
.run-extra-padding{
    padding: 30px 40px;
}
.extra-img{
    border-radius: 1rem;
    width: 31.25rem ;
    height: 15.62rem;
    background-image: url('images/run.jpg');
    background-repeat: no-repeat;
    background-position: -490px -150px;
    background-size:62.5rem 43.75rem  ;
}
.bmi-calc-crt{
    margin: 60px 0;
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.bmi-calc{
    /* margin: 0 auto; */
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    /* justify-items: center; */
    /* justify-content: center; */
    /* align-items: center; */ */
}
table,td,th{
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
td,th{
    padding: 10px 15px;
}
th{
    width: 50%;
    text-align: left;

}
.tb-Head>th{
    font-weight:600 ;
    color: white;
    font-size:0.8rem ;
}
.bmi-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* text-align: left; */
    /* justify-content: left; */
    /* justify-items: left; */
    /* margin: 0 150px; */
    /* color: white; */
}
.bmi-grid input::placeholder,.bmi-grid select{
    color: rgba(255, 255, 255, 0.6);
}

.calc-bmi-item{
    border: none;
    margin: 0.3125rem;
    background-color: rgba(255, 255, 255, 0.159);
    border-radius: 7px;
    padding: 0.625rem 0px;
    padding-left: 1rem;
}
#activity-fact{
    grid-column: span 2;
}
.calc-bmi{
    text-align: left;
}
.calc-btn{
    margin-top: 20px;
}
.bmi-calc h3{
    font-size: 1.5rem;
    color: white;
}
.meet-team{
    margin: 10px 150px;
    text-align: center;
}
.meet-team-div p{
    color: rgba(255, 255, 255, 0.48);
}
 .meet-team-grid{
    padding: 15px 13px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.13);
    display: grid;
    grid-template-columns: auto auto auto;
    gap:18px;
    justify-content: center;
    text-align: left;
 }
 .meet-team-grid img{
    filter: brightness(0.8);
    text-align: center;
    width: 290px;
    height: 232px;
    border-radius: 10px;
 }
 .meet-team-grid h5,.meet-team-grid p{
    position: relative;
    bottom: 60px;
    right: -10px;
    width: 200px;
    line-height: 0px;
 }
 /* .meet-team-grid p{
    bottom: 90px;
 } */
 .meet-team-grid h5{
    margin-bottom: 0;
    font-weight: 900;
    color: white;
    font-size: 0.9rem;
 }
 .meet-team-div{
    height: 230px;
 }
 .customer-feed{
    text-align: center;
    margin: 60px 150px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 17px;
 }
 .customer-feed h1{
    padding-top: 30px;
    margin-bottom: 50px;
 }
 .customer-feed img{
    /* padding-top: 20px; */
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border: 3px solid rgba(255, 255, 255, 0.319);
    border-radius: 50%;
 }
 .customer-feed p{
    line-height: 140%;
    padding: 0 20px;
    font-size: 0.9rem;
 }
 .customer-feed-item{
    border-radius: 17px;
    width: 400px;
    background-color: rgba(97, 97, 97, 0.292);
 }
 .feed-flex{
    justify-content: center;
    gap: 100px;
    padding: 0 50px 30px;
 }
 .feed-flex p{
    /* text-align: left; */
 }
 footer{
    background-color: rgba(255, 255, 255, 0.1);    
 }
 .foot-bg{
    margin:70px 150px 0px;
    padding:20px 0px ;
 }
 .foot-h1{
    font-size: 60px;
 }
 .rights{
    text-align: center;
 }
 .flex-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom:1.5rem ;
 }
 .get-str p{
    color: rgba(255, 255, 255, 0.5);
    font-size:0.9rem;
    line-height: 17px;
 }
 
 footer h3{
    color: white;
    font-size: 1.5rem;
 }
 .fitness-foot{
    width: 400px;
 }
 footer h1{
    margin: 0;
 }
 .rights{
    font-size: 0.8rem;
    /* margin: 0px 0px; */
 }
 .right-foot {
    margin-top: 1.3rem;
 }
 footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (max-width:576px) {
    .title{
        font-size: 2rem;
    }
    .shape{
        font-size: 4rem;
    }
    .head-bg-color{
        height: 1000px;
        margin: 0px 20px;
        background-position-x: center;
    }
    .header{
        width: 100%;
    }
    .menu{
        width: 25px;
        display: block;
        margin-left: 15.6rem;
        margin-right: 1.25rem;
    }
    .discr{
        margin-right: 3.75rem;
    }
    .nav-li{
        display:none;
    }
    .f500{

        left: 11.25rem;
        bottom: -15rem;
    }
    .v350{
        left: 1.25rem;
        top:350px;
    }
    .change-habit-item{
        flex-direction: column;
    }
    .change-habit{
        margin: 5px 25px;
    }
    .change-habit-img>p{
        margin-right:70px ;
        margin-left: 70px;
    }
    .run-extra{
        margin: 15px 15px;
    }
    .run-extra>div{
        flex-direction: column;
        gap: 25px;
    }
    .extra-img{
        width: 100%;
        background-position: center;
        background-size: 25rem 18.75rem;
    }
    .bmi-calc h1,.bmi-calc-p{
        margin-left: 15px;
        margin-right: 30px;
    }
    .bmi-calc-crt{
        flex-direction: column;
        padding: 15px 15px;
        gap: 35px;
    }
    .bmi-calc{
        text-align: left;
    }
    .meet-team{
        margin: 0px 50px;
    }
   .meet-team-grid{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
   }
   .flex-footer{
        flex-direction: column;
   }
   .foot-bg{
    margin:30px 15px 0px;
 }
 .feed-flex{
    flex-direction: column;
 }
 .customer-feed{
    margin: 10px 15px;
 }
 .customer-feed-item{
    width: 300px;
 }
}