@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

/* shared style */
p{
    word-wrap: break-word;
}
body{
    margin: 0;
    background-color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
main{
    margin: 0;
}
.main-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

.dis-flex{
    display: flex;
}
.color-1{
    color: white;
}
.color-2{
    color: rgba(255, 255, 255, 0.5);
}
.prime-btn{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 25px;
    padding: 12px 35px;
    border: none;
    color: white;
}
.font-sty{
    color: white;
    font-weight: 800;
    font-size: 2.2rem;
}
.font-sty-main{
    color: rgba(255, 255, 255, 0.5);
    font-size:0.7rem;
    line-height: 17px;
}
/* shared style close */

.header{
    height: 670px;
    margin-left: 150px;
    background-image: url('images/Images\ 2.png');
    background-size: 330px 550px;
    background-repeat: no-repeat;
    background-position-x: 600px;
    background-position-y: bottom;
}
.menu{
    display: none;
}
.nav-li{
    /* margin-left:0; */
    list-style: none;
    gap: 40px;
    height: 0px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    color: white;
}
.nav{
    justify-content: space-between;
    align-items: center;
    margin-right: 150px;
}
.frame{
    border: 1px solid rgba(255, 255, 255, 0.2) ;
    border-radius: 25px;
}
.fit{
    font-weight: 900;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
}
.title{
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 28px;
}
.shape{
    font-size: 8.9rem;
    font-weight: 500;
    font-family: 'Miama', sans-serif;
    line-height: 0%;
}
.discr{
    margin-right: 600px;
}
.down-btn{
    border: 1px solid white;
    background-color: black;
}
 .header-card{

 }
.f500{
    position: relative;
    left: 820px;
    bottom: 360px;
    width: 180px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 0px;
    padding-right: 5px;
    padding-left: 15px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.v350{
    position: relative;
    left: 500px;
    bottom: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.54);
    padding: 20px 15px 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.span500{
    line-height: 80%;
}
.span350{
    /* margin-top:200px ; */
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 100%;
}
.play{
    width: 60px;
    height: 60px;
}
.change-habit{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 80px 150px;
    text-align: center;
}
.change-habit-item{
    margin-top: 55px;
    display: flex;
    gap: 35px;
    /* justify-content: center; */
    /* align-items: center; */
}
.change-habit-img>img{
    height:150px ;
    width: 150px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.1);
}
.change-habit-img{
    text-align: center;
}
.change-habit-img>h5{
    margin-bottom: 0;
}
.change-habit>h1{
    margin-bottom: 5px;
}
.run-extra{
    /* display: flex; */

    margin: 80px 150px;
    background-color:rgba(34, 34, 34, 1) ;
    border-radius: 15px;
}
.run-extra>div{
    display: flex;
    padding: 25px 30px;
    gap: 120px;
}

.extra-img{
    border-radius: 15px;
    width: 500px;
    height: 250px;
    
    /* padding: 35px 45px; */
    background-image: url('images/run.jpg');
    background-repeat: no-repeat;
    background-position: -490px -150px;
    /* background-position-x: -800px ; */
    background-size:1000px 700px  ;
}
.bmi-calc-crt{
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-top: 15px;
    padding-bottom: 20px;
    /* align-items: center; */
}
.bmi-calc{
    text-align: center;
    /* display: flex;
    flex-direction: column; */
}
table,td,th{
    /* width: 100%; */
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
td,th{
    /* color: rgba(255, 255, 255, 0.5); */
    padding: 10px 15px;
}
th{
    width: 50%;
    text-align: left;

}
.tb-Head>th{
    font-weight:600 ;
    color: white;
    font-size:0.8rem ;
}
.bmi-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border-radius: px; */
}
.calc-bmi-item{
    border: none;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.159);
    border-radius: 7px;
    padding: 10px 0px;
    padding-left: 15px;
}
#activity-fact{
    grid-column: span 2;
}
.calc-bmi{
    text-align: left;
}
.meet-team{
    margin: 10px 150px;
    text-align: center;

    /* justify-content: center; */
}
 .meet-team-grid{
    /* margin-top: 20px; */
    padding-top: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.13);
    /* margin: 0 auto; */
    /* width: 1500px; */
    /* height: ; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0px;
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
    text-align: left;
    /* padding-right: -2054px; */
 }
 .meet-team-grid img{
    text-align: center;
    width: 250px;
    height: 200px;
    border-radius: 10px;
 }
 .meet-team-grid h5,.meet-team-grid p{
    position: relative;
    bottom: 80px;
    right: -10px;
    width: 200px;
    /* height: 30px; */
 }
 .meet-team-grid p{
    bottom: 90px;
 }
 .meet-team-grid h5{
    margin-bottom: 0;
    font-weight: 900;
    color: white;
    font-size: 0.9rem;
 }
 .meet-team-div{
    width: 270px;
    height: 230px;
    /* margin-bottom: 20px; */
 }
 .customer-feed{
    text-align: center;
    margin: 10px 150px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 17px;
 }
 .customer-feed h1{
    padding-top: 30px;
    margin-bottom: 50px;
 }
 .customer-feed img{
    width: 100px;
    height: 100px;
    border: 3px solid rgba(255, 255, 255, 0.319);
    border-radius: 50%;
 }
 .customer-feed p{
    line-height: 140%;
 }
 .customer-feed-item{
    width: 400px;

 }
 .feed-flex{
    justify-content: center;
    gap: 100px;
    padding: 0 50px 30px;
 }
 .feed-flex p{
    /* text-align: left; */
 }
 footer{
    background-color: rgba(255, 255, 255, 0.1);    
 }
 .foot-bg{
    margin:70px 150px 0px;
    padding:20px 0px ;
 }
 .foot-h1{
    font-size: 60px;
 }
 .rights{
    text-align: center;
 }
 .flex-footer{
    display: flex;
    /* gap: 110px; */
    justify-content: space-evenly;

    /* justify-items: space-between; */
 }
 .get-str p{
    color: rgba(255, 255, 255, 0.5);
    font-size:0.9rem;
    line-height: 17px;
 }
 
 footer h3{
    color: white;
    font-size: 1.5rem;
 }
 .fitness-foot{
    width: 400px;
    /* margin-right: 500px; */
 }
 footer h1{
    margin: 0;
 }
 .rights{
    font-size: 1rem;
 }
 .right-foot p{
    margin: 0;
 }
@media screen and (max-width:576px) {
    .title{
        font-size: 2rem;
    }
    .shape{
        font-size: 4rem;
    }
    .header{
        height: 1000px;
        margin-left: 10px;
        background-position-x: center;
    }
    .menu{
        width: 25px;
        display: block;
        margin-left: 270px;
    }
    .discr{
        margin-right: 60px;
    }
    .nav-li{
        display:none;
    }
    .f500{
        left: 200px;
        top: 300px;
    }
    .v350{
        left: 20px;
        top:400px
    }
    .change-habit-item{
        flex-direction: column;
    }
    .change-habit{
        margin: 5px 25px;
    }
    .change-habit-img>p{
        margin-right:70px ;
        margin-left: 70px;
    }
    .run-extra{
        margin: 15px 15px;
    }
    .run-extra>div{
        flex-direction: column;
        gap: 25px;
    }
    .extra-img{
        width: 100%;
        /* height: 100%; */
        background-position: 0;
        background-size: contain;
        border-radius: px;
    }
    .bmi-calc-crt{
        flex-direction: column;
        padding: 5px 15px;
        gap: 35px;
    }
    .meet-team{
        margin: 0px 60px;
    }
   .meet-team-grid{
    grid-template-columns: repeat(1,1fr);
   }
   .flex-footer{
        flex-direction: column;
   }
   .foot-bg{
    margin:30px 15px 0px;
    /* padding:20px 0px ; */
 }
 .feed-flex{
    flex-direction: column;
 }
 .customer-feed{
    margin: 10px 15px;
 }
 .customer-feed-item{
    width: 300px;
 }
}